#parent {
	width: 100vw;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: larger;
	flex-direction: column;
	justify-content: center;
}
#search-container {
	margin: auto;
	width: 50%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

#search-container input {
	width: 80%;
	height: 30px;
	padding: 10px;
	padding-left: 20px;
	font-size: 1.3rem;
	outline: none;
	border-radius: 20px;
	border: none;
}
